ul .nav-parent {
    background-color: lightblue;
    grid-row: 2 / 5;
    grid-column: 1;

}

h3,
h4 {
    text-align: center;
}

.column {
    float: left;
    width: 55%%;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
img {
    width: 150px;
    height: 200px;
    display: block;
}
.Chewie,
.Comet {
    /* display: block; */
    width: 150px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
img.tilt-shaking {
    animation: tilt-shaking 0.3s infinite;
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

